<div class="forms">
  <img src="../../../assets/images/avatar.png">
  <form>

    <mat-form-field class="example-full-width ">
      <input matInput placeholder="Imię" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width ">
      <input matInput placeholder="Nazwisko" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Hasło" formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pesel" formControlName="pesel">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Adres" formControlName="address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Kod pocztowy" formControlName="postcode">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Miasto" formControlName="town">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Telefon" formControlName="telephone">
    </mat-form-field>


  </form>
  <button mat-raised-button color="primary" type="submit">Zarejestruj</button>
</div>
